<div class="row">
  <div [ngClass]="{ 'colAnim': true, 'col-7': cameras.length > 0, 'col': cameras.length <= 0 }">
    <nb-card size="small" [nbSpinner]="scenesLoader" nbSpinnerStatus="info">
      <nb-card-header>
        Scenes
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let scene of scenes" [ngClass]="{ active: scene.active }" (click)='switchScene(scene)'>
          <div class="sceneName">
            {{ scene.name }}
            <nb-badge *ngIf="scene.active" text="Active" status="success" position="right"></nb-badge>
          </div>
        </nb-list-item>
        <!-- <nb-list-item>
          <div class="sceneName" [ngClass]="{ active: true }">
            Attente du début de match
            <nb-badge text="Active" status="success" position="right"></nb-badge>
          </div>
        </nb-list-item> -->
      </nb-list>
    </nb-card>
  </div>
  <div [ngClass]="{ 'colAnim': true, 'col-5': cameras.length > 0, 'col-0': cameras.length <= 0 }">
    <nb-card size="small" [nbSpinner]="camerasLoader" nbSpinnerStatus="info">
      <nb-card-header [ngClass]="{ 'd-none': cameras.length <= 0 }">
        Caméras
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let camera of cameras" [ngClass]="{ active: camera.render }" (click)='switchCamera(camera)'>
          <div class="sceneName">
              {{ camera.name | slice: 2 }}
            <nb-badge *ngIf="camera.render" text="Active" status="success" position="right"></nb-badge>
          </div>
        </nb-list-item>
        <!-- <nb-list-item [ngClass]="{ active: true }">
          <div class="sceneName">
              Cam 1
            <nb-badge *ngIf="true" text="Active" status="success" position="right"></nb-badge>
          </div>
        </nb-list-item> -->
      </nb-list>
    </nb-card>
  </div>
</div>
