<nb-card
  [ngxGradiant]="team.color"
  (mouseenter)="teamHover = true"
  (mouseleave)="teamHover = false"
>
  <div class="icon-container">
    <img class="img-thumbnail" src="{{ team.logo }}" />
  </div>

  <div class="icon-container">
    <div class="img-thumbnail">
      <span
        class="score"
        [swal]="{
          title: 'Saisir score',
          input: 'number',
          inputAttributes: { min: 0, step: 1 },
          inputValue: team.score
        }"
        (confirm)="setScore($event)"
        >{{ team.score | number: "2.0-0" }}</span
      >
      <div class="timeout-container">
        <div
          *ngFor="let number of [1, 2, 3]"
          [ngClass]="{
            timeout: true,
            'bg-warning': number <= team.timeout,
            'bg-transparent': number > team.timeout,
            border: number > team.timeout,
            'border-warning': number > team.timeout
          }"
          (click)="handleTimeout(number)"
        ></div>
      </div>
    </div>
  </div>

  <div class="details">
    <ngx-in-place-edit
      (update)="updateField('name')"
      (cancel)="cancelUpdateField('name')"
    >
      <ng-template ngxViewMode>
        <div class="title h5">{{ team.name }}</div>
      </ng-template>
      <ng-template ngxEditMode>
        <!-- <div class="input-button-row"> -->
        <input
          type="text"
          nbInput
          fullWidth
          fieldSize="tiny"
          placeholder=""
          [formControl]="getControl('name')"
          ngxFocusable
          ngxEditableOnEvents
          class="with-button"
        />
        <!-- <button nbButton outline status="success" size="tiny" class="confirm-button with-icon">
            <nb-icon icon="checkmark-outline"></nb-icon>
          </button>
          <button nbButton outline status="danger" size="tiny" class="cancel-button with-icon">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div> -->
      </ng-template>
    </ngx-in-place-edit>
    <ngx-in-place-edit
      (update)="updateField('city')"
      (cancel)="cancelUpdateField('city')"
    >
      <ng-template ngxViewMode>
        <div class="status paragraph-2">{{ team.city }}</div>
      </ng-template>
      <ng-template ngxEditMode>
        <!-- <div class="input-button-row"> -->
        <input
          type="text"
          nbInput
          fullWidth
          fieldSize="tiny"
          placeholder=""
          [formControl]="getControl('city')"
          ngxFocusable
          ngxEditableOnEvents
          class="with-button"
        />
        <!-- <button nbButton outline status="success" size="tiny" class="confirm-button with-icon">
            <nb-icon icon="checkmark-outline"></nb-icon>
          </button>
          <button nbButton outline status="danger" size="tiny" class="cancel-button with-icon">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div> -->
      </ng-template>
    </ngx-in-place-edit>
  </div>
  <!-- <div class="icon-container float-right">
    <div class="img-thumbnail">
      <span>{{ team.score }}</span>
    </div>
  </div> -->
  <!-- <div *ngIf="teamHover" class="colorpickerPlace"> -->
  <nb-icon
    class="colorpickerPlace"
    *ngIf="teamHover || selectingColor"
    [ngxAdapteTextColorToBg]="team.color"
    icon="color-palette-outline"
    [nbPopover]="templateRefColorPicker"
    nbPopoverTrigger="hover"
    nbPopoverPlacement="start"
    (mouseenter)="selectingColor = true"
  ></nb-icon>

  <ng-template #templateRefColorPicker>
    <nb-card class="mb-0" (mouseleave)="selectingColor = false">
      <color-chrome
        disableAlpha="true"
        [color]="team.color"
        (onChangeComplete)="handleChangeColor($event)"
      ></color-chrome>
    </nb-card>
  </ng-template>

  <!-- <div
      class="colorpickerContainer"
      *ngIf="showColorpicker"
      (mouseleave)="showColorpicker = false"
    >
      <color-chrome
        disableAlpha="true"
        [color]="team.color"
        (onChangeComplete)="handleChangeColor($event)"
      ></color-chrome>
      <div class="arrow-right"></div>
    </div> -->
  <!-- </div> -->
</nb-card>
