# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

act

# production
/build
/release

/assets/appDatas/**/*.png
/assets/appDatas/**/*.jpg
!/assets/appDatas/placeholder_team.png
!/assets/appDatas/placeholder_bg.jpg
/assets/bin/obs/bin
/assets/bin/obs/*.bat
/assets/bin/obs/data
/assets/bin/obs/obs-plugins
/assets/bin/obs/config/obs-studio/crashes
/assets/bin/obs/config/obs-studio/logs
/assets/bin/obs/config/obs-studio/plugin_config
/assets/bin/obs/config/obs-studio/profiler_data
/assets/bin/obs/config/obs-studio/updates
/assets/bin/obs/config/obs-studio/global.ini
/assets/bin/obs/config/obs-studio/basic/profiles/gonesstreamer/service.json

/assets/players
/assets/sponsors

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

/scripts/*.zip

/assets/appDatas/Replay instantReplay.mkv