.jumbotron {
  zoom: 0.9;
}

.teamblock-scoreboard {
  height: 50px;
  transform: skewX(-25deg);

  .teamlogo-scoreboard {
    height: 50px;
    transform: skewX(25deg);
    position: absolute;
    left: 10px;
    background: none;
    border: none;
  }

  .teamname-scoreboard {
    transform: skewX(25deg);
    position: absolute;
    left: 70px;
    font-size: 30px;
    line-height: 50px;
    max-width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .teamscore-scoreboard {
    transform: skewX(25deg);
    position: absolute;
    right: 15px;
    font-size: 30px;
    line-height: 50px;
  }

  .teampossession-scoreboard {
    height: 3px;
    position: absolute;
    bottom: -3px;
    width: 100%;
  }

  .teamtimeoutblock-scoreboard {

    display: flex;
    position: absolute;
    bottom: -13px;

    .teamtimeout-scoreboard {
      width: 25px;
      height: 7px;
      margin-right: 3px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .quarter-scoreboard {
    transform: skewX(25deg);
    font-size: 30px;
    line-height: 50px;
  }
}

