<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col">
        <nb-card [nbSpinner]="loadingStreamService || loadingStreamSettings" nbSpinnerStatus="primary">
          <nb-card-header>Settings Live</nb-card-header>
          <nb-card-body>
            <form [formGroup]="liveSettingsForm" (ngSubmit)="onLiveSubmit()">
              <div class="form-group">
                <label for="serviceInput" class="label">Service de Streaming</label>
                <nb-select fullWidth id="serviceInput" formControlName="streamService">
                  <nb-option value="YouTube / YouTube Gaming">Youtube</nb-option>
                  <nb-option value="Facebook" disabled>Facebook</nb-option>
                </nb-select>
              </div>
              <div class="form-group">
                <label for="streamKeyService" class="label">Clé de Stream</label>
                <input type="text" nbInput fullWidth id="streamKeyService" formControlName="streamKey">
              </div>
              <div class="form-group">
                <label for="debitService" class="label">Débit</label>
                <div class="input-group mb-3">
                  <input class="form-control" step='50' min='0' max='15000' type="number" nbInput fullWidth formControlName="bitrate" id="debitService">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Kbps</span>
                  </div>
                </div>
              </div>
              <button type="submit" [nbSpinner]="sendingLiveSettingsDatas" nbSpinnerStatus="success" [disabled]="sendingLiveSettingsDatas" nbButton [status]="!sendingLiveSettingsDatas ? 'success' : 'basic'">Submit</button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nb-card [nbSpinner]="loadingReplaySettings" nbSpinnerStatus="primary">
          <nb-card-header>Settings Replay</nb-card-header>
          <nb-card-body>
            <form [formGroup]="replaySettingsForm" (ngSubmit)="onReplaySubmit()">
              <div class="form-group">
                <label for="bufferService" class="label">Durée du replay</label>
                <div class="input-group mb-3">
                  <input class="form-control" step='500' min='0' max='30000' type="number" nbInput fullWidth formControlName="buffer" id="bufferService">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">ms</span>
                  </div>
                </div>
              </div>
              <button type="submit" [nbSpinner]="sendingReplaySettingsDatas" nbSpinnerStatus="success" [disabled]="sendingReplaySettingsDatas" nbButton [status]="!sendingReplaySettingsDatas ? 'success' : 'basic'">Submit</button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <nb-card [nbSpinner]="loadingBgImage" nbSpinnerStatus="primary">
      <nb-card-header>Background Image</nb-card-header>
      <nb-card-body>
        <div class="icon-container" (click)="fileInput.click()" ngxFileUpload (fileDropped)="uploadFile($event)">
          <input hidden class="d-none" type="file" #fileInput (change)="uploadFile($event.target.files)">
          <img class="img-thumbnail" [src]="bgFilePath | safe: 'resourceUrl'" />
          <div class="overlay">
            <nb-icon class="icon" [options]="{ 'icon-font-size': '250px' }" icon="cloud-upload-outline"></nb-icon>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
