<div class="row">
  <div class="col-2">
    <ngx-live-status-card>
      <i [ngClass]=""></i>
    </ngx-live-status-card>
  </div>
  <div class="col-5">
    <ngx-team-card [title]="'Gones'" [on]="true" [type]="light" (statusChanged)="changeDeviceStatus({}, $event)">
      <i [ngClass]=""></i>
    </ngx-team-card>
  </div>
  <div class="col-5">
    <ngx-team-card [title]="'Dauphins'" [on]="true" [type]="light" (statusChanged)="changeDeviceStatus({}, $event)">
      <i [ngClass]=""></i>
    </ngx-team-card>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <ngx-scenes-card [scenes]="scenes"></ngx-scenes-card>
  </div>
  <div class="col-8">
    <nb-card>
      <nb-card-body>

        <nb-tabset>
          <nb-tab tabTitle="Games Control">
            <ngx-game-control></ngx-game-control>
          </nb-tab>
          <nb-tab tabTitle="Highlight Joueur">
            <ngx-player-highlight></ngx-player-highlight>
          </nb-tab>
          <nb-tab tabTitle="Partenaires">
            <ngx-partner-room></ngx-partner-room>
          </nb-tab>
        </nb-tabset>

      </nb-card-body>
    </nb-card>
  </div>
</div>
