<div class="row">
  <div class="col-3">
    <ngx-live-status-card [liveUpdateChartData]="liveUpdateChartData" [streamTime]="streamTime" [isStreaming]="isStreaming" (streamStatusChange)="changeStreamStatus($event)">
      <!-- <i [ngClass]="{ 'nb-video-off': !isStreaming, 'nb-video': isStreaming }"></i> -->
    </ngx-live-status-card>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col">
        <ngx-team-card [team]="homeTeam" (statusChanged)="changeDeviceStatus({}, $event)"></ngx-team-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ngx-team-card [team]="awayTeam" (statusChanged)="changeDeviceStatus({}, $event)"></ngx-team-card>
      </div>
    </div>
  </div>
  <div class="col-3">
    <ngx-frames-metrics-card [framesPieChartData]="framesChartData"></ngx-frames-metrics-card>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <ngx-scenes-card [scenes]="scenes" [scenesLoader]="scenesLoader" [camerasLoader]="camerasLoader" (scenesChange)="changeScene($event)" (camerasChange)="changeCamera($event)"></ngx-scenes-card>
  </div>
  <div class="col-8">
    <nb-card>
      <nb-card-body>

        <nb-tabset>
          <nb-tab tabTitle="Games Control">
            <ngx-game-control></ngx-game-control>
          </nb-tab>
          <nb-tab tabTitle="Highlight Joueur">
            <ngx-player-highlight></ngx-player-highlight>
          </nb-tab>
          <nb-tab tabTitle="Partenaires">
            <ngx-partner-room></ngx-partner-room>
          </nb-tab>
        </nb-tabset>

      </nb-card-body>
    </nb-card>
  </div>
</div>
