<div class="row">
  <div class="col">
    <app-scoreboard [homeTeam]="homeTeam" [awayTeam]="awayTeam" [gameOptions]="gameOptions"></app-scoreboard>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <h6>Général</h6>
    <div class="row">
      <div class="col-3">
        <div class="btn-group" role="group" aria-label="...">
          <button nbButton hero [status]="(gameOptions.quarter == 1) ? 'basic' : 'primary'" (click)="changeGameOptions('quarter', 1)">Q1</button>
          <button nbButton hero [status]="(gameOptions.quarter == 2) ? 'basic' : 'primary'" (click)="changeGameOptions('quarter', 2)">Q2</button>
          <button nbButton hero [status]="(gameOptions.quarter == 3) ? 'basic' : 'primary'" (click)="changeGameOptions('quarter', 3)">Q3</button>
          <button nbButton hero [status]="(gameOptions.quarter == 4) ? 'basic' : 'primary'" (click)="changeGameOptions('quarter', 4)">Q4</button>
        </div>
      </div>
      <div class="col-3">
        <button *ngIf="gameOptions.showScoreboard" (click)="changeGameOptions('showScoreboard', false)" nbButton hero status="primary">
          <nb-icon class="icon" icon="eye-outline"></nb-icon> Scoreboard
        </button>
        <button *ngIf="!gameOptions.showScoreboard" (click)="changeGameOptions('showScoreboard', true)" nbButton hero status="basic">
          <nb-icon class="icon" icon="eye-off-outline"></nb-icon> Scoreboard
        </button>
      </div>
      <div class="col-3">
        <button *ngIf="!replayPlaying" (click)="changeReplayState()" nbButton hero status="basic">
          <nb-icon class="icon" icon="play-circle-outline"></nb-icon> Replay
        </button>
        <button *ngIf="replayPlaying" (click)="changeReplayState()" nbButton hero status="primary">
          <nb-icon class="icon" icon="play-circle"></nb-icon> Replay
        </button>
      </div>
      <div class="col-3">
        <button *ngIf="!gameOptions.flag" (click)="changeGameOptions('flag', true)" nbButton hero status="basic"><nb-icon class="icon" icon="flag-outline"></nb-icon> Flag</button>
        <button *ngIf="gameOptions.flag" (click)="changeGameOptions('flag', false)" nbButton hero status="warning"><nb-icon class="icon" icon="flag-outline"></nb-icon> Flag</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col">
        <h6>{{ homeTeam.name }}</h6>
        <p>
          <button nbButton fullWidth hero [status]="(gameOptions.possession == teamPossession.HOME) ? 'basic' : 'primary'" (click)="changeGameOptions('possession', teamPossession.HOME)"><nb-icon class="icon" *ngIf="gameOptions.possession == teamPossession.HOME" icon="flash-outline"></nb-icon> Possession {{ homeTeam.name }}</button>
        </p>
        <div class="btn-group" role="group" aria-label="...">
          <button nbButton hero size="small" status="primary" (click)="addPoints(6, true, scoreType.TOUCHDOWN)">Touchdown</button>
          <button
            size="small"
            nbButton
            hero
            status="primary"
            [nbContextMenu]="transformationItems"
            nbContextMenuTag="transfo-home-context-menu"
          >
            Transformations
          </button>

          <button nbButton hero size="small" status="primary" (click)="addPoints(2, true, scoreType.SAFETY)">Safety</button>
          <button nbButton hero size="small" status="primary" (click)="addPoints(3, true, scoreType.FIELDGOAL)">
            Field Goal
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col">
        <h6>Big Plays</h6>
        <div class="btn-group" role="group" aria-label="...">
          <button nbButton hero size="small" status="primary">
            Interception
          </button>
          <button nbButton hero size="small" status="primary">Pick 6</button>
          <button nbButton hero size="small" status="primary">Sack</button>
          <button nbButton hero size="small" status="primary">Fumble</button>
        </div>
      </div>
    </div> -->
  </div>
  <div class="col-6">
    <!-- <h6>{{ awayTeam.name }}</h6> -->
    <div class="row">
      <div class="col">
        <h6>{{ awayTeam.name }}</h6>
        <p>
          <button nbButton fullWidth hero [status]="(gameOptions.possession == teamPossession.AWAY) ? 'basic' : 'info'" (click)="changeGameOptions('possession', teamPossession.AWAY)"><nb-icon class="icon" *ngIf="gameOptions.possession == teamPossession.AWAY" icon="flash-outline"></nb-icon> Possession {{ awayTeam.name }}</button>
        </p>
        <div class="btn-group" role="group" aria-label="...">
          <button nbButton size="small" status="info" (click)="addPoints(6, false, scoreType.TOUCHDOWN)">Touchdown</button>
          <button
            size="small"
            nbButton
            status="info"
            [nbContextMenu]="transformationItems"
            nbContextMenuTag="transfo-away-context-menu"
          >
            Transformations
          </button>

          <button nbButton size="small" status="info" (click)="addPoints(2, false, scoreType.SAFETY)">Safety</button>
          <button nbButton size="small" status="info" (click)="addPoints(3, false, scoreType.FIELDGOAL)">
            Field Goal
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col">
        <h6>Big Plays</h6>
        <div class="btn-group" role="group" aria-label="...">
          <button nbButton size="small" status="primary">
            Interception
          </button>
          <button nbButton size="small" status="primary">Pick 6</button>
          <button nbButton size="small" status="primary">Sack</button>
          <button nbButton size="small" status="primary">Fumble</button>
        </div>
      </div>
    </div> -->
  </div>
</div>
