#teamScoreboardEditStyle1 > .teamblock-scoreboard {
  height: 50px;
  transform: skewX(-25deg);
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .teamlogo-scoreboard {
  height: 50px;
  transform: skewX(25deg);
  position: absolute;
  left: 10px;
  background: none;
  border: none;
  z-index: 2;
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .teamname-scoreboard {
  transform: skewX(25deg);
  position: absolute;
  left: 70px;
  font-size: 30px;
  line-height: 50px;
  max-width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .teamscore-scoreboard {
  transform: skewX(25deg);
  position: absolute;
  right: 15px;
  font-size: 30px;
  line-height: 50px;
  z-index: 2;
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .teampossession-scoreboard {
  height: 3px;
  position: absolute;
  bottom: -3px;
  width: 100%;
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .teamtimeoutblock-scoreboard {
  display: flex;
  position: absolute;
  bottom: -13px;
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .teamtimeoutblock-scoreboard .teamtimeout-scoreboard {
  width: 25px;
  height: 7px;
  margin-right: 3px;
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .teamtimeoutblock-scoreboard .teamtimeout-scoreboard:last-child {
  margin-right: 0;
}
#teamScoreboardEditStyle1 > .teamblock-scoreboard .quarter-scoreboard {
  /* transform: skewX(25deg); */
  font-size: 30px;
  line-height: 50px;
}
#teamScoreboardEditStyle1 > .teamcolor-scoreboard {
  width: 100%;
  position: absolute;
  height: 50px;
}