.icon-container {
  height: 100%;
  // padding: 0.625rem;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #353535b3;

    .icon {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 1;
      width: auto;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      font-size: 7.25rem;
    }
  }

  &:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
}

#debitService, #bufferService {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#basic-addon2 {
  border: inherit;
}
