<div class="row">
  <div class="col-3">
    <app-live-status-card
      [liveUpdateChartData]="liveUpdateChartData"
      [streamTime]="streamTime"
      [isStreaming]="isStreaming"
      (streamStatusChange)="changeStreamStatus($event)"
    ></app-live-status-card>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col">
        <app-team-card [team]="homeTeam" (teamChanged)="updateTeam($event, true)" (logoChanged)="updateImageTeam($event, true)"></app-team-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-team-card [team]="awayTeam" (teamChanged)="updateTeam($event, false)" (logoChanged)="updateImageTeam($event, false)"></app-team-card>
      </div>
    </div>
  </div>
  <div class="col-3">
    <app-frames-metrics-card
      [framesPieChartData]="framesChartData"
    ></app-frames-metrics-card>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <app-scenes-card
      [scenes]="scenes"
      [scenesLoader]="scenesLoader"
      [camerasLoader]="camerasLoader"
      (scenesChange)="changeScene($event)"
      (camerasChange)="changeCamera($event)"
    ></app-scenes-card>
  </div>
  <div class="col-8">
    <nb-card>
      <nb-card-body>
        <nb-tabset class="w-100">
          <nb-tab tabTitle="Games Control">
            <app-game-control [homeTeam]="homeTeam" [awayTeam]="awayTeam" [replayPlaying]="replayPlaying" [gameOptions]="gameOptions" (teamChanged)="updateTeam($event.team, $event.isHomeTeam)" (scoringAnimation)="displayScoreAnimation($event)" (gameOptionsChanged)="updateGameOptions($event)" (replayPlayingChanged)="setReplayPlaying($event)"></app-game-control>
          </nb-tab>
          <nb-tab tabTitle="Highlight Joueur">
            <app-player-highlight></app-player-highlight>
          </nb-tab>
          <nb-tab tabTitle="Partenaires">
            <app-partner-room></app-partner-room>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
