<div [ngClass]="{'row justify-content-center h-100 align-items-center': true, 'logo-bg': !isReady}" *ngIf="!isReady">
  <div class="col-4">
    <div class="row mb-5">
      <div class="col">
        <div class="card-deck">
          <div [ngClass]="{'card': true, 'active': profile.active, 'btn': true, 'btn-light': true}"
            style="width: 18rem;" *ngFor="let profile of profiles" (click)="switchProfile(profile['profile-name'])">
            <i class="fab fa-{{ profile.type }} {{ profile.type }}Live fa-3x mt-3 mb-2 mx-auto"></i>
            <div class="card-body">
              <p class="card-text text-center">{{ profile['profile-name'] | slice : 20 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form>
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label col-form-label-lg">Nom</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-lg" #name id="inputName" placeholder="Nom équipe">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCity" class="col-sm-2 col-form-label col-form-label-lg">Ville</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-lg" #city id="inputCity" placeholder="Ville">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button (click)="startLive(name.value, city.value)" class="btn btn-block btn-lg btn-success">Start Live
                !</button>
            </div>
          </div>
          <fieldset class="title mb-3">
            <legend style="width: 47px;" class="mx-auto mb-0">Or</legend>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-12">
              <button (click)="restartLive()" class="btn btn-block btn-lg btn-success">Restart Live From Where I Left
                !</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isReady">

  <div class="col-6">

    <div class="row mt-3">
      <div class="col-4">
        <div class="row">
          <div class="col">
            <h1>Status</h1>
          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="!isStreaming">
            <div (click)="restartLive()" class="card btn btn-light text-center">
              <i class="fas fa-play fa-3x mt-4 mb-2 mx-auto"></i>
              <div class="card-body">
                <h6 class="card-title mb-0">Restart Stream</h6>
              </div>
            </div>
          </div>
          <div class="col" *ngIf="isStreaming">
            <div (click)="stopLive()" class="card btn btn-light text-center" (mouseover)="hoverStop=true"
              (mouseout)="hoverStop=false">
              <i *ngIf="!hoverStop" class="text-danger recording fas fa-circle fa-3x mt-4 mb-2 mx-auto"></i>
              <i *ngIf="hoverStop" class="fas fa-stop fa-3x mt-4 mb-2 mx-auto"></i>
              <div class="card-body">
                <h6 *ngIf="!hoverStop" class="card-title mb-0">Streaming...</h6>
                <h6 *ngIf="hoverStop" class="card-title mb-0">Stop Stream</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col">
            <h1>Score</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-deck">
              <div class="card bg-dark text-white text-center mb-3" (click)="GonesScoreSwal.show()"
                style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Gones</h5>
                  <p class="card-text h1">{{ score | slice : 0 : 2  }}</p>
                </div>
              </div>
              <div class="card bg-light text-center mb-3" (click)="AwayScoreSwal.show()" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ awayTeamName }}</h5>
                  <p class="card-text h1">{{ score | slice : -2  }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <h1>Statistiques</h1>
      </div>
    </div>

    <dl class="row">
      <dt class="col-sm-3">Live depuis</dt>
      <dd class="col-sm-9">{{ streamLength | duration }}</dd>

      <dt class="col-sm-3">FPS</dt>
      <dd class="col-sm-9">{{ fps | number:'1.2-2' }} fps</dd>

      <!-- <dt class="col-sm-3">Vitesse de transmission</dt>
      <dd class="col-sm-9">{{ transmittionSpeed }} kb/s</dd> -->

      <dt class="col-sm-3">Vitesse de transmission</dt>
      <dd class="col-sm-9">{{ transmittionSpeedB | bytes }}/s</dd>

      <dt class="col-sm-3">Images perdu</dt>
      <dd class="col-sm-9">{{ droppedFrames }} / {{ totalFrames }} ( {{ droppedFramesPercent }}% )</dd>
    </dl>
  </div>

  <div class="col-6">
    <div class="row mt-3">
      <div class="col">
        <h1>Scenes spécifiques</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-group">
          <div (click)="setCurrentScene(scene.name)"
            [ngClass]="{'card': true, 'btn': true, 'btn-light': true, 'active': scene.active}"
            *ngFor="let scene of scenes | arrayFilter: {displayable: true, liveCam: false}">
            <div class="card-body">
              <h5 class="card-title">{{scene.name}}</h5>
              <p class="card-text" [ngSwitch]="scene.name">
                <span *ngSwitchCase="'Pre Game'">
                  Scene de début de match
                </span>
                <span *ngSwitchCase="'Half Time'">
                  Scene de Mi Temps
                </span>
                <span *ngSwitchCase="'End'">
                  Scene de fin de match
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <h1>Caméras</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-group">
          <div (click)="setCurrentScene(scene.name)"
            [ngClass]="{'card': true, 'btn': true, 'btn-light': true, 'active': scene.active}"
            *ngFor="let scene of scenes | arrayFilter: {displayable: true, liveCam: true}">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title mb-0"><i class="fas fa-video"></i> {{scene.name}}</h5>
              <!-- <p class="card-text"></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <h1>Evènement</h1>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <!-- <button class="btn btn-block btn-primary" [swal]="teamTouchdownSwal">
        <i class="fas fa-video"></i> Touchdown !
      </button> -->
        <div class="card-deck">
          <div (click)="teamTouchdownSwal.show()" class="card btn btn-light text-center">
            <img src="assets/icons/touchdown.png" class="img-fluid mx-auto" width="64" height="64" alt="...">
            <div class="card-body">
              <h5 class="card-title mb-0">Touchdown</h5>
            </div>
          </div>
          <!-- </div>
      <div class="col"> -->
          <!-- <button class="btn btn-block btn-primary" [swal]="teamSafetySwal">
        <i class="fas fa-praying-hands"></i> Safety !
      </button> -->
          <div (click)="teamSafetySwal.show()" class="card btn btn-light text-center">
            <i class="fas fa-praying-hands fa-3x mt-3 mb-2 mx-auto"></i>
            <!-- <img src="assets/icons/fieldgoal.png" class="card-img-top mt-3 mx-auto" width="64" height="64" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title mb-0">Safety</h5>
            </div>
          </div>
          <!-- </div>
      <div class="col"> -->
          <!-- <button class="btn btn-block btn-primary" [swal]="teamFieldGoalSwal">
        <img src="assets/icons/fieldgoal.png" width="" height="18"> Field Goal !
      </button> -->
          <div (click)="teamFieldGoalSwal.show()" class="card btn btn-light text-center">
            <img src="assets/icons/fieldgoal.png" class="img-fluid mx-auto" width="64" height="64" alt="...">
            <div class="card-body">
              <h5 class="card-title mb-0">Field Goal</h5>
            </div>
          </div>
          <!-- </div>
      <div class="col"> -->
          <!-- <button class="btn btn-block btn-primary" (click)="startReplay()">
        <i class="fas fa-backward"></i> Start Replay
      </button> -->
          <div (click)="startReplay()"
            [ngClass]="{'card': true, 'btn': true, 'btn-light': true, 'text-center': true, 'active': playingReplay, 'disabled': playingReplay}">
            <img src="assets/icons/replay.png" class="img-fluid mx-auto" width="64" height="64" alt="...">
            <div class="card-body">
              <h5 class="card-title mb-0">Start Replay</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <swal #teamTouchdownSwal [options]="{
    title: 'Equipe qui marque',
    input: 'select',
    inputOptions: {
      'true': 'Gones',
      'false': awayTeamName
    }}" type="question" (confirm)="newTouchdown($event)">
    </swal>

    <swal #touchdownSwal [options]="{
    title: 'Transformation',
    input: 'select',
    inputOptions: {
      '6': 'Raté',
      '7': 'Field Goal',
      '8': 'Transformation a 2 pts'
    },
    showCancelButton: true}" type="question" (confirm)="addScore($event)">
    </swal>

    <swal #teamSafetySwal [options]="{
    title: 'Equipe qui marque',
    input: 'select',
    inputOptions: {
      'true': 'Gones',
      'false': awayTeamName
    }}" type="question" (confirm)="newSafety($event)">
    </swal>

    <swal #teamFieldGoalSwal [options]="{
    title: 'Equipe qui marque',
    input: 'select',
    inputOptions: {
      'true': 'Gones',
      'false': awayTeamName
    }}" type="question" (confirm)="newFieldGoal($event)">
    </swal>

    <swal #GonesScoreSwal [options]="{
        title: 'Score Gones',
        input: 'number'
      }" (confirm)="setScoreManuallyForGones($event)">
    </swal>

    <swal #AwayScoreSwal [options]="{
            title: 'Score ' + awayTeamName,
            input: 'number'
          }" (confirm)="setScoreManuallyForAway($event)">
    </swal>
  </div>
</div>