/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

:host {
  // min-height: 100% !important;
  min-height: 100vh !important;
  display: block;
  position: relative;
  // height: 100% !important;
}

main {
  padding-bottom: 56px;
  .container-fluid {
    padding: 56px 15px 0;
  }
}

code {
  font-size: 80%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
